/*insert custom css below*/


body {
}

.heading {
  position: fixed;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  top: 0;
  bottom: 0;
  border-bottom: 2px solid;
}

.heading h1 {
}

.box {
  margin-top: 100px;
    display: inline-block;
    position: relative;
    margin-left:10px;
    float: left;
    height:auto;
    width:32%;
}

.box:last-child {
}

.box h2 {
}

.box img {
width:100%;
}

.box a.read-more {
}

.footer {
position: fixed;
width: 100%;
}
