/*insert custom css below*/


body {
}

.heading {
  position: fixed;
  margin-bottom: 20px;
  max-width: 100%;
    width: auto;
    display:block;
}

.heading h1 {
}

.box {
  margin-top: 100px;
    display: inline-block;
    position: relative;
    margin-left:10px;
    float: left;
    height:auto;
   max-width:350px;
    width:auto;
}

.box:last-child {
}

.box h2 {
}

.box img {
height:auto;
width:auto;
max-width:300px;
}

.box a.read-more {
}

.footer {
  position: fixed;
}
