/*insert custom css below*/


body {
}

.heading {
  position: fixed;
  margin-bottom: 20px;
  width:1000px;
}

.heading h1 {
}

.box {
  margin-top: 100px;
    display: inline-block;
    position: relative;
    margin-left:10px;
    float: left;
}

.box:last-child {
}

.box h2 {
}

.box img {

}

.box a.read-more {
}

.footer {
  position: fixed;
}
